body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: #30456e;
  }
  
textarea{
    background: transparent;
    border: none;
    resize: none;
    color: white;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #30456e;
  }
  
  .hour {
    background-color: #30456e;
    color: white;
    border-top: 1px dashed #d3d3d3;
    border-right: 2px solid black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .past {
    background-color: #83adc7;
    color: white;
  }
  
  .present {
    background-color: #a6daff;
    color: white;
  }
  
  .future {
    background-color: #298fcf;
    color: white;
  }
  
  .saveBtn {
    border-left: 3px solid #2f81a1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #3d9ec4;
    background-image: url("http://www.w3.org/2000/svg");
    color: white;
  }

  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .btn-svg {
      position: relative;
  }


  
